p {
  font-family: 'Philosopher', sans-serif;
}

header {
  background-color: #0bae9b;
  /*background-color: #aff2ea;*/
  /*background-color: #b0b1b3;*/
  height: 160px;
  border-bottom-style: solid;
  border-bottom-color: #aff2ea;
  border-bottom-width: 10px;
}

.project-name {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 25px;
  left: 600px;
}

footer {
  background-color: black;
  color: white;
}

.button {
  float: left;
  margin: 2%;
  color: white;
  border-radius: 10px;
}

.button p {
  font-size: 20px;
  position: relative;
  top: 105px;
  text-align: center;
}

/*.instructions {
  color: white;
  float: left;
  font-family: 'Cherry Swash', cursive;
  position: absolute;
  top: 25px;
  left: 400px;
}*/

#setup {
  background-image: url("../images/gears.jpg");
  background-size: 100%;
  height: 100px;
  width: 100px;
}

#income {
  background-image: url("../images/dollarsigns2.jpg");
  background-size: 100%;
  height: 100px;
  width: 200px;
}

.wall {
  background-color: #c2c4c6;
  width: 100%;
  height: 100vh;
}

.whole_shelf {
  background-image: url("../images/shelf.jpg");
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 950px;
}

.shelf {
  float: left;
  height: 25px;
  width: 75%;
  position: absolute;
  left: 400px;
}

.first_shelf {
  top: 135px;
}

.second_shelf {
  top: 330px;
}

.third_shelf {
  top: 520px;
}

.jar {
  height: 20vh;
  width: 10%;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0% 2%;
  float: left;
  text-align: center;
}

.show-label {
  margin-top: 50%;
}

.jarD .show-label {
  margin-top: 95%;
}

.jarA {
  background-image: url("../images/jar01.jpg");
}

.jarB {
  background-image: url("../images/jar02.jpg");
}

.jarC {
  background-image: url("../images/jar03.jpg");
}

.jarD {
  background-image: url("../images/jar04.jpg");
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#setup-form {
  height: 400px;
  background-color: #0bae9b;
  padding: 40px 0 0 100px;
}

#income-form {
  height: 150px;
  background-color: #0bae9b;
  padding: 40px 0 0 100px;
}

.instructions {
  padding-bottom: 2%;
  font-size: 20px;
}

.hide {
  display: none;
}

.item_field {
  display: block;
  /*padding: 0 10%;*/
}

input {
  display : inline-block;
}

legend {
  text-align: center;
}

.submit-btn {
float: right;
height: 50px;
margin-right: 10%;
width: 100px;
}

#setup_done {
  margin-left: 35%;
}

/*.add, .subtract, .amount, .log {
  background-color: white;
}

.adjust {
  display: none;
}*/

.jar-info {
  background-color: white;
  display: none;
  height: 30%;
  width: 20%;
  position: relative;
  right: -200px;
  top: 80px;
  z-index: 2;
  border-radius: 10px;
  float: right;

}

.show-amount {
  color: red;
  font-size: 24px;
  position: relative;
  top: -25px;
}
