p {
  font-family: 'Philosopher', sans-serif;
}

header {
  background-color: #0bae9b;
  border-bottom-color: #aff2ea;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  height: 160px;
}

.button {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  float: left;
  margin: 10px;
}

.button p {
  font-size: 20px;
  position: relative;
  text-align: center;
  top: 105px;
}

#setup-button {
  background-image: url("../images/gears.jpg");
  background-size: 100%;
  height: 100px;
  width: 100px;
}

#income-button {
  background-image: url("../images/dollarsigns2.jpg");
  background-size: 100%;
  height: 100px;
  width: 200px;
}

#help-button {
  background-color: #243451;
  color: #fff79e;
  float: right;
  font-family: 'Philosopher', sans-serif;
  font-size: 50px;
  height: 60px;
  padding-top: 15px;
  text-align: center;
  width: 75px;
}

.help-instructions {
  background-color: #aff2ea;
  font-family: 'Philosopher', sans-serif;
  padding: 0 5px 5px 5px;
}

.hide {
  display: none;
}

#setup-form {
  background-color: #0bae9b;
  height: 625px;
  padding: 40px 0 0 100px;
}

#income-form {
  background-color: #0bae9b;
  height: 200px;
  padding: 40px 0 0 100px;
}

.instructions {
  font-size: 20px;
  padding-bottom: 2%;
  margin-bottom: 2%;
}

.item_field {
  margin-bottom: 1%;
}

.form-item {
  float: left;
  width: 33%;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.income_field {
  float: left;
  margin-left: 30%;
}

.submit-btn {
border-radius: 10px;
color: white;
height: 50px;
margin: 2% 0 0 40%;
width: 120px;
}

.wall {
  background-color: #c2c4c6;
  height: 100vh;
  width: 100%;
}

/* I know - major design flaw by setting the width to 950px, but I finally got all my shelves and jars aligned this way and can't figure out how to align otherwise*/
.whole_shelf {
  background-image: url("../images/shelf.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  position: relative;
  width: 950px;
}

.shelf {
  float: left;
  height: 25px;
  left: 50%;
  left: 400px;
  position: absolute;
  width: 75%;
}

.first_shelf {
  top: 135px;
}

.second_shelf {
  top: 330px;
}

.third_shelf {
  top: 520px;
}

.jar {
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
  height: 20vh;
  margin: 0% 2%;
  text-align: center;
  width: 10%;
}

.jarA {
  background-image: url("../images/jar01.jpg");
}

.jarB {
  background-image: url("../images/jar02.jpg");
}

.jarC {
  background-image: url("../images/jar03.jpg");
}

.jarD {
  background-image: url("../images/jar04.jpg");
}

.show-label {
  margin-top: 50%;
}

.jarD .show-label {
  margin-top: 95%;
}

.show-goal, .show-amount, .toggle p {
  float: left;
  width: 50%;
}

.toggle {
  background-color: gray;
  border-color: #aff2ea;
  border-radius: 0 15px;
  border-style: solid;
  border-width: 4px;
  color: white;
  display: none;
  font-size: 16px;
  height: 40px;
  left: -40px;
  padding: 6px;
  position: relative;
  top: -120px;
  width: 120px;
}

footer {
  background-color: #0bae9b;
  font-size: 10px;
  height: 50px;
  padding: 5px;
}

.sources {
  float: left;
  width: 50%;
}

a, a:hover, a:focus, a:active {
color: black;
font-weight: 400;
}

.signature {
  color: white;
  float: left;
  font-size: 18px;
  padding-right: 2%;
  text-align: right;
  width: 48%;
}

@media (max-width: 480px) {

  #setup-button {
    height: 75px;
    width: 75px;
  }
  #income-button {
    height: 75px;
    width: 150px;
  }
  #help-button {
    height:25px;
    padding: 0;
    width: 40px;
    font-size: 25px;
  }
  #setup-form {
    height: 1600px;
  }
  .form-item {
    margin-bottom: 3%;
    width: 100%;
  }
  .name-item {
    margin-left: 14px;
  }
  .percentage-item {
    margin: 0 0 12px 17px;
  }
}

@media (min-width: 481px) and (max-width: 768px){
  #setup-form {
    height: 860px;
  }
  .item_field {
    float: left;
    width: 50%;
  }
  .form-item {
    margin-bottom: 3%;
    width: 100%;
  }
  .name-item {
    margin-left: 14px;
  }
  .percentage-item {
    margin: 0 0 12px 17px;
  }

}
